
body{ 
  margin: 0;
  
}

.head{
  /* background-color: rgb(26, 28, 61); */
  /* background-color: rgb(26, 28, 61); */
   background: #11111B;
  height: auto;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #11111B ,#13084e22 );
  
}
.separate{
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('test.svg');
  background-size: 100% 100%;
}
.box{
  width: 90%;
  height: auto; 
  margin-top: 3%;
  margin-bottom: 10rem;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* background-image: url('test.svg'); */
}
.nav{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  
}
.logo {
  width: 5em;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}


nav ul{
  /* width: 40%; */
  gap: 1.2rem;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  cursor: pointer;
}

ul li:hover {

    transform: scale(1.2); 
    transition: transform .6s;
    background-image: url('Navbg.svg');
    background-repeat: no-repeat;
    background-size:200% 200%;
    text-decoration: underline;
    color: rgba(209, 171, 69, 0.868);
  }


.button {
  width: 200px;
  height: 35px;
  background-image: url('Vector.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}
.button:hover{
  transform: scale(1.2); 
transition: transform .6s;
background-image: url('Navbg.svg');
background-repeat: no-repeat;
background-size:200% 200%;
text-decoration: underline;
color: rgba(209, 171, 69, 0.868);
cursor: pointer;
}
.front{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.front1{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 150%;
  text-align: left;
}

.subfront1{
  width: 50%;
  align-self: center;
 
}
.frontbutton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.front1 p{
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Archivo;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
text-align: left;
}
.front2{
  width: 50%;
  height: 100%;
  background: url('Asset2.png') left no-repeat ;
  background-size: 20%;
}
.img1{

  align-self: center;
}
.front2 img{
  height: auto;
  width: 90%;
  background: url('Asset3.png')  no-repeat;
  background-position: 5% 20%;
  background-size: 8%;
}

.headpart{
  width: 80%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}


.num1,.num2{
  width: 33%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  border-right: 2px solid white;
}
.num3{
  width: 33%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.num1 p,.num2 p{
  font-size: 1rem;
}
.num3 p{
  font-size: 1rem;
}

.middle{
  width: 90%;
  height: 40vh;
  display: flex;
  align-items: center;
  background-image: url('test.svg');
  margin-bottom: 50vh;
  transform: rotateX('180deg');
  /* background: url('hexabg.svg')  right  no-repeat, url('hexabg.svg')  right top  no-repeat; */
}
.middle1{
  /* margin-left: 1rem; */
  background-image: url('Asset.png');
  background-repeat: no-repeat;
  background-size: 40% 40%;
  
  
}

.middle3{
  width: 40vw;
  height: 40vh;
  background-image: url('Asset21.png');
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position: 100% 60%;
  background: url('hexabg.svg')  right left  no-repeat,url('hexabg.svg')  right   no-repeat;
  background: url('hexabg.svg')  right bottom no-repeat, url('hexabg.svg')  right   no-repeat;
}
.middle2 img{
  width: 70%;
  height:auto;
  margin-right: 4rem;
  margin-top: 2rem;
}

.middle3{
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
  justify-content: center;
  text-align: left;
  font-size: x-large;
  
  }

.middle3 p{
  font-size: small;
  width: 25rem;
  line-height: 20px;
}
  
.visionparent{
  width: 100vw;
  height: auto;
  /* border: 2px white solid; */
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: url('visionimg1.svg') left top no-repeat, url('visionimg2.png') left top no-repeat, url('visionimg3.png') right bottom no-repeat, url('visionimg4.png') right top no-repeat ;
  background-size: 8%;
  
}
.vision{
  position: relative;
  width: 15vw;
  height: 40vh;
  text-align: left;
  font-size: smaller;
  padding: -50 -50;
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform .4s;
  background-image: url('vision.png');
  

}
.vision img{
  width: 10%;
  height: 10%;
  position: absolute;
      top: 0;
      right: 0;
      margin-top: 5%;
      margin-right: 5%;

}
.vision:hover {
  transform: scale(1.2); 
  top: -5px;
}

.solution{
  position: relative;
  width: 32vw;
  height: auto;
  text-align: left;
  font-size: smaller;
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform .4s;
  background-image: url('solution.svg');
  
}
.soldiv{
  width: 10%;
  height: 30%;
  position: absolute;
      top: 0;
      right: 0;
      margin-top: 3%;
      margin-right: 3%;

}

.soldiv .solimg1{
  width: 100%;
  height: 100%;
}
.soldiv .solimg2{
  position: absolute;
  top: 32%;
  right: 28%;
  width: 50%;
  height: 50%;
}
.just{
  display: flex;
  flex-direction: row;
  gap: 4vh;
}
.solution p{
  font-size: small;
}
.solutionparent{
  width: 100vw;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2vh;
  background: url('solutionbg1.svg') left top no-repeat, url('solutionbg2.png') left top no-repeat, url('solutionbg3.png') left top no-repeat,url('solutionbg4.png') right bottom no-repeat ;
  background-size: 6%;
}
.sol1{
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.eco{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.ecosystem{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
 
}
.eco1{
width: 15rem;
height: 10rem;
padding-bottom: 10px;
}
.upro{
  width: 100vw;
  height: 350px;
  display: flex;
  flex-direction: row;

}

.upro img{
  width: 90vw;
  height: 18vh;
  margin-right: 20rem;
  background: linear-gradient(271deg, #25181A 0.38%, rgba(0, 0, 0, 0.00) 49.9%);
}

.uright{
  width: 50%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: end;
  
}
.uleft{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;

  
  }
  .uleft1{
    width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
    flex-direction: column;
  }
  .uleft1 p{
    align-self: flex-start;
    padding-left: 8rem;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
  }
  .uleft img {
    width: 30%;
    height: 60%;
  }
.uright1{
  width: 80%;
  height: 50%;
  background-image: url('Upro.svg');
  text-align: left;
  
}

.uright1 p,.uright1 h2{

  text-align: left;
  padding-left: 10px;
}
.footer{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('footimg1.png') left bottom no-repeat,url('footimg2.png') left  no-repeat,url('footimg4.png') right  no-repeat,url('footimg5.png') right bottom no-repeat ;
  background-size: 6%;
}
.subfooter{
  width: 80vw;
  height: 45vh;
  
  z-index: 10;
  position: relative;
  border-radius: 5px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
  border: 0.05px solid rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  background: url('footimg3.png') left no-repeat;
  background-size: 3%;
}

.subfooter1{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
 
}
.subfooter2{
  width: 10%;
  height: 100%;
}
.subfooter3{
  width: 10%;
  height: 100%;
}
.subfooter4{
  width: 30%;
  height: 100%;
}

.footbird{
  width: 80%;
height: 30%;
display: flex;
align-items: center;
justify-content: center;
  flex-direction: row;
  font-size: large;
}

.footpara{
  text-align: left;
  width: 80%;
height: 40%;
align-self: center;
}
.handles{
 display: flex;
 justify-content: left;
  width: 80%;
height: 5%;
align-self: center;
gap: 3rem;
cursor: pointer;
}
.subfooter2,.subfooter3,.subfooter4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subfooter2 ul,.subfooter3 ul,.subfooter4 ul{
  width: 100%;
  height: 70%;
  list-style-type: none;
  justify-items: center;
 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

@media (min-width: 500px) and (max-width: 1000px) {
  
  /* .img1{
    width: 10%;
    align-self: center;
    width: 20px;
    height: 20px;
  } */
    .logo {
      width: 1rem;
      height: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.1rem;
    }
    .logo h3{
      font-size: 7px;
      width: 3em;
      height: 1rem;
    }

    .nav ul{ 
      font-size: 8px;
    }

  .front1{
    /* font-size: 7px; */
    padding-left: 7px;
    width: 70%;
    height: auto;
  }
  .subfront1{
    width: auto;
    align-self: center;
   
  }
  .front2{
    width: 30%;
    height: auto;
  }

  .front2 img{
    height: 100%;
    width: 100%;
  }
  .front{

    display: flex;
    flex-direction: row;
    
  }
  .separate{
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: none;
    background-size: 100% 100%;
  }
  .front1 p{
    color: #FFF;
  font-family: Archivo;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 8px; /* 160% */
  text-align: left;
  }
  .front1 h2{
    font-size: 1.1rem;
  }
  .button {
    width: 4rem;
    height: 1.5rem;
    background-image: url('Vector.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
  }
  .box{
    background-image: none;
    display: flex;
    flex-direction: column;
  }
  
  
  .nav .button{
    display: none;
  }


  .headpart{
    width: 80%;
    height: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    padding-top: 8vw;
    font-size: 4vw;
    gap: 5vw;
  }
 
  .num1,.num2{
    width: 33%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-right: 2px solid white;
  }
  .num3{
    width: 33%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  
  .num1 p,.num2 p{
    font-size: 1rem;
  }
  .num3 p{
    font-size: 1rem;
  }

  



  .just{
    display: flex;
    flex-direction: column;
  }

  .visionparent{
    display: flex;
    flex-direction: column;
  }

  .vision{
    width: 90vw;
    height: 70vh;
    background-size: 100% 100%;
  }
  
  .solution p{
    font-size: 3vw;
    width: auto;
  }
  .solutionparent{
    width: 100vw;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    padding-bottom: 2vh;

    
  }
  
  .sol1{
    width: 70vw;
    height: 45vh;
    
    z-index: 10;
    position: relative;
    border-radius: 5px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
    border: 0.05px solid rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: row;
  }
  .solution{
    width: 100%;
    background-image: none;
  }
  /* .sol1{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 30vh;
    background-size: 100% 100%;
  } */
  .middle {
    background-size: 100% 100%;

  }
  .middlle1{
    background-image:100% 100%;
  }
  .middle2{
    width: 50vw;
    height: 35vh;
  }
  .middle3{
    width: 20vw;
    /* margin-top: 15rem; */
  }
  .middle3 h2{
    font-size: 3.3vw ;
    margin-top: -3rem;
  }

  .middle3 p{
    font-size: 12px ;
    padding: 5vh;
    
  }
  .subfooter{
    width: 95vw;
    height: 48vh;
  }
  .subfooter2 h2, .subfooter3 h2{
    font-size: 1.1em;
  }
  .uleft img {
    width: 42%;
    margin-left: 18rem;

  }

  .middle{
    width: 90%;
    height: 40vh;
    display: flex;
    align-items: center;
    background-image: url('test.svg');
    margin-bottom: 25vh;
    transform: rotateX('180deg');
   
  }
  .eco1{
    width: 80%;
    height: 4rem;
    padding-bottom: 10px;
    }

    .eco1 h1{
      font-size: 1vw;
        }

    .eco1 p{
        font-size: 2vw;
    }
    .eco{
      width: 100vw;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .uleft p{
      padding-left: 5vh;
    }

    .subfooter1{
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
     
    }
    .subfooter2{
      width: 13%;
      height: 100%;
    }
    .subfooter3{
      width: 13%;
      height: 100%;
    }
    .subfooter4{
      width: 33%;
      height: 100%;
    }
    .subfooter2 ul,.subfooter3 ul,.subfooter4 ul{
      font-size: 1.7vh;
    }
    .subfooter2 h2,.subfooter3 h2,.subfooter4 h2{
      font-size: 2vh;
    }
}


@media screen and (max-width: 500px) {
  
  .logo {
    width: 1rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem;
  }
  .logo h3{
    font-size: 7px;
    width: 3em;
    height: 1rem;
  }

  .nav ul{ 
    font-size: 8px;
  }

.front1{
  /* font-size: 7px; */
  padding-left: 7px;
  width: 70%;
  height: auto;
}
.subfront1{
  width: auto;
  align-self: center;
 
}
.front2{
  width: 30%;
  height: auto;
}

.front2 img{
  height: 100%;
  width: 100%;
}
.front{

  display: flex;
  flex-direction: row;
  
}
.separate{
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('test.svg');
  background-size: 100% 100%;
}
.front1 p{
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Archivo;
font-size: 7px;
font-style: normal;
font-weight: 400;
line-height: 8px; /* 160% */
text-align: left;
}
.front1 h2{
  font-size: 1.1rem;
}
.button {
  width: 4rem;
  height: 1.5rem;
  background-image: url('Vector.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  padding-right: 10px;
  margin-bottom: 2px;
}
.box{
  background-image: none;
  display: flex;
  flex-direction: column;
}


.nav .button{
  display: none;
}


.headpart{
  width: 105%;
  height: 6vw;
  display: flex;
  padding-top: 30vw;
  gap: 10vw;

}

.num1,.num2{
  width: 33%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  border-right: 2px solid white;
  padding-right: 3vw;
}
.num3{
  width: 33%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
}

.num1 p,.num2 p{
  font-size: 1rem;
}
.num3 p{
  font-size: 1rem;
}







.visionparent{
  display: flex;
  flex-direction: column;
}

.vision{
  width: 90vw;
  height: 70vh;
  background-size: 100% 100%;
}

.solution p{
  font-size: 3vw;
  width: auto;
}
.solutionparent{
  width: 100vw;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
  padding-bottom: 2vh;
background-size: 15%;
  
}

.sol1{
  width: 70vw;
  height: 45vh;
  
  z-index: 10;
  position: relative;
  border-radius: 5px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
  border: 0.05px solid rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
}
.solution{
  width: 100%;
  background-image: none;
}
/* .sol1{
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 30vh;
  background-size: 100% 100%;
} */
.middle {
  background-size: 100% 100%;
  width: 90%;
  height: 25vh;
}

.middle1{
  background-image:none;
}
.middle2{
  width: 50vw;
  height: 35vh;
}

.middle3{
  width: 20vw;
  /* margin-top: 15rem; */
}
.middle3 h2{
  font-size: 3.3vw ;
  margin-top: -3rem;
}

.middle3 p{
  font-size: 10px ;
  padding: 8vh;
  margin-right: 30vw;
  
}
/* .subfooter{
  width: 95vw;
  height: 48vh;
}
.subfooter2 h2, .subfooter3 h2{
  font-size: 1.1em;
} */
.uleft img {
  width: 42%;
  margin-left: 18rem;

}

/* .middle{
  width: 90%;
  height: 40vh;
  display: flex;
  align-items: center;
  background-image: url('test.svg');
  margin-bottom: 25vh;
  transform: rotateX('180deg');
 
} */
.eco1{
  width: 80%;
  height: 4rem;
  padding-bottom: 10px;
  }

  .eco1 h1{
    font-size: 1vw;
      }

  .eco1 p{
      font-size: 2vw;
  }
  .eco{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .uleft p{
    padding-left: 5vh;
  }
  .upro{
    height: 450px;
  }
  .footbird p{
    font-size: 3vw;
  }
  .subfooter{
    width: 70vw;
  }
  .subfooter1{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
  }
  .subfooter2{
    width: 13%;
    height: 100%;
  }
  .subfooter3{
    width: 13%;
    height: 100%;
  }
  .subfooter4{
    width: 33%;
    height: 100%;
  }
  .subfooter2 ul,.subfooter3 ul,.subfooter4 ul{
    font-size: 0.5vh;
  }
  .subfooter2 h2,.subfooter3 h2,.subfooter4 h2{
    font-size: 1.2vh;
  }
  .handles{
    padding-top: 3rem;
    gap: 1rem;
  }

  .just{
    display: flex;
    flex-direction: column;

  }
  
}
